.carrousel {
  background-color: $color-grey;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  height: 200px;
}

.tags {
  background: #ff6060;
  font-size: 14px;
  border-radius: 30px;
  color: #ffff;
  width: auto;
  padding: 0.8em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-right: 2em;
}

.collapseMain {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  h1 {
    font-size: 36px;
    font-weight: 300;
  }
  h2 {
    font-size: 18px;
    font-weight: 100;
  }
}

.contentTags {
  display: flex;

  flex-wrap: wrap;
}

.contentTitleName {
  display: flex;
  justify-content: space-between;
}

.contentName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    width: min-content;
    text-align: end;
    margin-right: 1em;
    font-size: 18px;
  }
  img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }
}

.fa-star {
  color: $color-grey;
}
.checked {
  color: $color-salmon;
}

.sectionCollapse {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-bottom: 5em;
}
.collapseArticle {
  width: 49%;
}

.contentStarTags {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .starSvg {
    margin-right: 0.5em;
  }
  .starSvg:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 456px) {
  .flex {
    position: relative;
  }
  .collapseMain {
    h1 {
      font-size: 19px;
      margin-bottom: 0.2em;
    }
    h2 {
      font-size: 14px;
    }
  }
  .contentName {
    position: absolute;
    right: 15px;
    bottom: 0;
    p {
      width: min-content;
      text-align: end;
      margin-right: 1em;
      font-size: 12px;
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 50px;
    }
  }

  .contentTitleName {
    display: block;
  }

  .tags {
    font-size: 10px;
  }

  .contentStarTags {
    display: block;
    .starSvg {
      width: 18px;
      height: 18px;
    }
  }
  .collapseArticle {
    width: 100%;
  }
}
