.navigation {
  margin: 26px 0;
  margin: 26;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;

  a {
    font-size: 24px;
    padding: 10px;
    position: relative;
  }
  .nav-active {
    &::after {
      content: "";
      width: 85%;
      height: 2px;
      background: $color-salmon;
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 456px) {
  .navigation {
    margin-right: 1.5em;
    margin-left: 1.5em;
    a {
      font-size: 12px;
    }
  }
}
